* {
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  background-color: black;
}

html, body {
  width: 100vw;
  height: 100vh;
}

#intro-terminal {
  width: 100vw;
  height: 100vh;
}

#terminal {
  width: 100vw;
  height: auto !important;
  padding: 5px;
}

.shrink {
  height: 10vh !important;
}

.expand {
  padding-bottom: 20px;
}

.hidden {
  display: none !important;
}

.visible {
  display: "" !important;
}

.main {
  padding: 10px;
}

#about {
  display: inline-flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-between;
  color: #ffffff;
  width: 95vw;
  position: relative;
}

#about p {
  margin: 1em;
  font-size: 12px;
}

#about h1 {
  margin: 1em;
}

#about h6 {
  margin: 1em;
}

#content {
  position: relative;
  width: 95vw;
  justify-self: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.parent {
  display: flex;
  height: 30vh;
}

.child {
  width: 100vw;
  height: 15vh;
  margin: auto;
}

img {
  max-width: 300px;
  height: auto;
}