* {
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  background-color: black;
}

html, body {
  width: 100vw;
  height: 100vh;
}

.error-page {
  background-color: transparent !important;
}

#error-page {
  background-image: url("/assets/images/error_harold.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  object-fit: cover;
}

#error-page h1 {
  text-align: center;
  color: darkred;
}

#intro-terminal {
  width: 100vw;
  height: 100vh;
}

#terminal {
  width: 100vw;
  height: auto !important;
  padding: 5px;
}

.shrink {
  height: 10vh !important;
}

.expand {
  padding-bottom: 20px;
}

.hidden {
  display: none !important;
}

.visible {
  display: "" !important;
}

.main {
  padding: 10px;
}

#about {
  display: inline-flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-between;
  color: #ffffff;
  width: 95vw;
  position: relative;
}

#about p {
  margin: 1em;
  font-size: 12px;
}

@media (max-width: 500px) {
  * {
    overflow-x: hidden !important;
  }

  #about p {
    font-size: 18px !important;
  }

  .flex-container {
    max-height: auto !important;
  }

  .flex-container img {
    object-fit: cover !important;
  }

  .visible {
    display: block !important;
  }
}

#about h1 {
  margin: 1em;
}

#about h6 {
  margin: 1em;
}

#content {
  position: relative;
  width: 95vw;
  justify-self: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-height: 230px;
}

.parent {
  display: flex;
  height: 30vh;
}

.child {
  width: 100vw;
  height: 15vh;
  margin: auto;
}

img {
  max-width: 300px;
  height: auto;
}

#treasure {
  background-image: url("/assets/images/treasure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-position-y: bottom;
}

.treasure-chest h2 {
  float: left;
  margin: 3em;
  color: yellow;
  font-family: 'Press Start 2P', cursive;
}

.fadeImage {
  -webkit-animation: fadein 4s;
     -moz-animation: fadein 4s;
      -ms-animation: fadein 4s;
       -o-animation: fadein 4s;
          animation: fadein 4s;
  display: block;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.you-did-it{
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 45vh;
}

.you-did-it img {
  position: absolute;
}

img#did-it-1 {
  top: 3em;
  right: 3em;
}

img#did-it-2 {
  bottom: 0;
  left: 3em;
}

#treasure-content-container {
  float: right;
  height: 45vh;
  width: 55vw;
  background-color: #ff00a0;
  opacity: 0.75;
  margin-right: 5em;
}

#treasure-content {
  font-size: 14px;
  margin: 5em;
}

small a {
  color: aqua;
}

span#help-text-bar {
  position: absolute;
  float: right;
  z-index: 1000;
  top: 0;
  right: 0;
}

p#help-text {
  color: white;
  font-size: 8px;
}