* {
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  background-color: black;
}

html, body {
  width: 100vw;
  height: 100vh;
}

.error-page {
  background-color: transparent !important;
}

#error-page {
  background-image: url("/assets/images/error_harold.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  object-fit: cover;
}

#error-page h1 {
  text-align: center;
  color: darkred;
}

#intro-terminal {
  width: 100vw;
  height: 100vh;
}

#terminal {
  width: 100vw;
  height: auto !important;
  padding: 5px;
}

.shrink {
  height: 10vh !important;
}

.expand {
  padding-bottom: 20px;
}

.hidden {
  display: none !important;
}

.visible {
  display: "" !important;
}

.main {
  padding: 10px;
}

#about {
  display: inline-flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-between;
  color: #ffffff;
  width: 95vw;
  position: relative;
}

#about p {
  margin: 1em;
  font-size: 12px;
}

@media (max-width: 500px) {
  * {
    overflow-x: hidden !important;
  }

  #about p {
    font-size: 16px !important;
  }

  .flex-container {
    max-height: auto !important;
  }

  .flex-container img {
    display: none !important;
  }

  .visible {
    display: block !important;
  }
}

#about h1 {
  margin: 1em;
}

#about h6 {
  margin: 1em;
}

#content {
  position: relative;
  width: 95vw;
  justify-self: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-height: 230px;
}

.parent {
  display: flex;
  height: 30vh;
}

.child {
  width: 100vw;
  height: 15vh;
  margin: auto;
}

img {
  max-width: 300px;
  height: auto;
}

#treasure {
  background-image: url("/assets/images/treasure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-position-y: bottom;
}

.treasure-chest h2 {
  float: left;
  margin: 3em;
  color: yellow;
  font-family: 'Press Start 2P', cursive;
}

.fadeImage {
  -webkit-animation: fadein 4s;
     -moz-animation: fadein 4s;
      -ms-animation: fadein 4s;
       -o-animation: fadein 4s;
          animation: fadein 4s;
  display: block;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.you-did-it{
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 45vh;
}

.you-did-it img {
  position: absolute;
}

img#did-it-1 {
  top: 3em;
  right: 3em;
}

img#did-it-2 {
  bottom: 0;
  left: 3em;
}

#treasure-content-container {
  float: right;
  height: 45vh;
  width: 55vw;
  background-color: #ff00a0;
  opacity: 0.75;
  margin-right: 5em;
  animation:spin 20s linear infinite;
  border-radius: 50%;
  box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 60px violet,
      inset -20px 0 60px blue,
      inset 20px 0 300px violet,
      inset -20px 0 300px blue,
        0 0 50px #fff,
        -10px 0 60px violet,
        10px 0 60px blue;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#treasure-content {
  font-size: 14px;
  margin: 5em;
  text-align: center;
}

small a {
  color: aqua;
}

span#help-text-bar {
  position: absolute;
  float: right;
  z-index: 1000;
  top: 0;
  right: 0;
}

p#help-text {
  color: white;
  font-size: 8px;
}

ul.applause-animation {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex;
}

ul.applause-animation li {
  list-style:none;
  width:40px;
  height:40px;
  background:#fff;
  border-radius:50%;
  animation:grow 1.6s ease-in-out infinite;
}

@keyframes grow
{
  0% , 40% , 100%
  {
    transform:scale(0.2);
  }
  20%{
     transform:scale(1);
  }
}

div.applause-animation {
  position: absolute;
  left: 15em;
  top: 20vh;
}

ul.applause-animation li:nth-child(1){
  animation-delay:-1.4s;
  background:#ffff00;
  box-shadow:0 0 50px #ffff00;
}

ul.applause-animation li:nth-child(2){
  animation-delay:-1.2s;
  background:#76ff03;
  box-shadow:0 0 50px #76ff03;
}

ul.applause-animation li:nth-child(3){
  animation-delay:-1s;
  background:#f06292;
  box-shadow:0 0 50px #f06292;
}

ul.applause-animation li:nth-child(4){
  animation-delay:-0.8s;
  background:#4fc3f7;
  box-shadow:0 0 50px #4fc3f7;
}

ul.applause-animation li:nth-child(5){
  animation-delay:-0.6s;
  background:#ba68c8;
  box-shadow:0 0 50px #ba68c8;
}

ul.applause-animation li:nth-child(6){
  animation-delay:-0.4s;
  background:#f57c00;
  box-shadow:0 0 50px #f57c00;
}

ul.applause-animation li:nth-child(7){
  animation-delay:-0.2s;
  background:#673ab7;
  box-shadow:0 0 50px #673ab7;
}
