* {
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  background-color: black;
}

html, body {
  width: 100vw;
  height: 100vh;
}

#intro-terminal {
  width: 100vw;
  height: 100vh;
}

#terminal {
  width: 100vw;
  height: auto !important;
  padding: 5px;
}

.shrink {
  height: 10vh !important;
}

.expand {
  padding-bottom: 20px;
}

.hidden {
  display: none !important;
}

.visible {
  display: "" !important;
}

.main {
  padding: 10px;
}

#about {
  display: inline-flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-between;
  color: #ffffff;
  width: 95vw;
  position: relative;
}

#about p {
  margin: 1em;
  font-size: 12px;
}

#about h1 {
  margin: 1em;
}

#about h6 {
  margin: 1em;
}

#content {
  position: relative;
  width: 95vw;
  justify-self: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.parent {
  display: flex;
  height: 30vh;
}

.child {
  width: 100vw;
  height: 15vh;
  margin: auto;
}

img {
  max-width: 300px;
  height: auto;
}

#treasure {
  background-image: url("/assets/images/treasure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-position-y: bottom;
}

.treasure-chest h2 {
  float: left;
  margin: 3em;
  color: yellow;
  font-family: 'Press Start 2P', cursive;
}

.fadeImage {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
  display: block;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.you-did-it{
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 45vh;
}

.you-did-it img {
  position: absolute;
}

img#did-it-1 {
  top: 3em;
  right: 3em;
}

img#did-it-2 {
  bottom: 0;
  left: 3em;
}