<!DOCTYPE html>
<html>

<head>
  <title>{{name}}</title>
  <!-- stylesheets -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@4.9.0/css/xterm.css" integrity="sha256-QIY4PCy8QFMjISW7DEmeaROMHswpbJfnbLPUH3/GHxw=" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/main.css"/>

  <!-- xterm 4.9.0 imports -->
  <!-- xterm -->
  <script src="https://cdn.jsdelivr.net/npm/xterm@4.9.0/lib/xterm.min.js"></script>
  <!-- xterm-addon-fit -->
  <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.4.0/lib/xterm-addon-fit.min.js"></script>
  <!-- xterm-addon-attach -->
  <script src="https://cdn.jsdelivr.net/npm/xterm-addon-attach@0.6.0/lib/xterm-addon-attach.min.js"></script>
  <!-- xterm-addon-web-links -->
  <script src="https://cdn.jsdelivr.net/npm/xterm-addon-web-links@0.4.0/lib/xterm-addon-web-links.min.js"></script>
  <!-- xterm-addon-serialize -->
  <script src="https://cdn.jsdelivr.net/npm/xterm-addon-serialize@0.4.0/lib/xterm-addon-serialize.min.js"></script>
  <!-- xterm-addon-search -->
  <script src="https://cdn.jsdelivr.net/npm/xterm-addon-search@0.7.0/lib/xterm-addon-search.min.js"></script>
</head>

<body>
  <div id="terminal"></div>
  <!-- scripts -->
  <script>
    const xtermOptions = {
      cursorBlink: true,
      fontSize: 12,
      cursorWidth: 8,
      rightClickSelectsWord: true,
      scrollback: 0,
    }

    const pterm = new Terminal(xtermOptions);

    // addons
    const fitAddon = new FitAddon.FitAddon();
    const webLinksAddon = new WebLinksAddon.WebLinksAddon();
    const searchAddon = new SearchAddon.SearchAddon();
    const serializeAddon = new SerializeAddon.SerializeAddon();
    // const attachAddon = new AttachAddon.AttachAddon();

    pterm.loadAddon(fitAddon);
    pterm.loadAddon(webLinksAddon);
    pterm.loadAddon(searchAddon);
    pterm.loadAddon(serializeAddon);

    pterm.open(document.getElementById("terminal"));

    fitAddon.fit();

    window.pterm = pterm;
  </script>
  <script type="module">
    import init from "pterm";
    
    async function run() {
      await init();
    }

    run();
  </script>
</body>

</html>