<!DOCTYPE html>
<html>
<head>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css"/>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r124/three.min.js" integrity="sha512-jeYvJdyAYkpQCY/omvCYQo89qA5YxDW4JBT7COPsHT2sOAanwxkZRFeP9gc69b5reSDpZIoyCqZQZcWZkbB5Gw==" crossorigin="anonymous"></script> -->
</head>
<body>
  <div id="treasure" class="treasure-chest fadeImage">
    <div id="treasure-msg">
      <h2>* wild applause *</h2>
      <div class="applause-animation">
        <ul class="applause-animation">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <small><a href="/">go home</a></small>
    <div class="you-did-it">
      <img id="did-it-1" src="/assets/images/you_did_it.gif">
    </div>
    <div id="treasure-content-container">
      <div id="treasure-content">
        <h1>nicely done &#128526;</h1>
        <p>~ thanks for playing ~</p>
      </div>
    </div>
    <div class="you-did-it">
      <img id="did-it-2" src="/assets/images/you_did_it_2.gif">
    </div>
    <small id="treasure-github-link"><a target="_blank" href="https://github.com/kathleenfrench/portfolio">check out the codebase on github &#128064;</a></small>
  </div>
  <script src="/assets/js/treasure.js"></script>
</body>
</html>