<!DOCTYPE html>
<html>

<head>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css"/>
</head>

<body>
  <div id="treasure" class="treasure-chest fadeImage">
    <h2>* wild applause *</h2>

    <div class="you-did-it">
      <img id="did-it-1" src="/assets/images/you_did_it.gif">
    </div>

    <div class="you-did-it">
      <img id="did-it-2" src="/assets/images/you_did_it_2.gif">
    </div>
  </div>
</body>

</html>