body {
  margin: 0;
}

html {
  background-color: black;
}

html, body {
  width: 100vw;
  height: 100vh;
}

#intro-terminal {
  width: 100vw;
  height: 50vh !important;
}

#terminal {
  width: 100vw;
  height: 0;
}

// .full-height {
//   height: 100vh !important;
// }

// .hidden {
//   display: none !important;
// }