body {
  margin: 0;
}

html {
  background-color: black;
}

html, body {
  width: 100vw;
  height: 100vh;
}

#intro-terminal {
  width: 100vw;
  height: 100vh;
}

#terminal {
  width: 100vw;
  height: auto !important;
  padding: 5px;
}

.shrink {
  height: 10vh !important;
}

.expand {
  padding-bottom: 20px;
}

.hidden {
  display: none !important;
}

.visible {
  display: "" !important;
}

.main {
  padding: 10px;
}

#about {
  display: inline-flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-between;
  color: yellow;
  width: 80vw;

  p {
    margin: 1em;
  }
}